//Common use colors
@import "variables.scss", "mixins.scss";

.footer{
  background-color: $shade-primario;
  color: $shade-secundario;
}
.thumbnail-grid{
  max-height: $miniaturas;
  background-color: $azul-oficial ;
}

.boton-primario{
  width: $ancho-boton;
  background-color: $azul-oficial;
}
